* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(1, 1, 31) fixed no-repeat;
    background-clip: content-box;
    background-size: cover;
    background-origin: border-box;
  }
.e-portfolio{
    align-items: center;
    color: white;
}
.e-commerce{
  align-items: center;
  color: white;
}
.dict{
  align-items: center;
  color: white;
}
.to-do{
  align-items: center;
  color: white;
}
h4{
  font-weight: 700;
  font-size: 1.6rem;
}
  #todo, #port, #gym,#dictionary {
    margin-top: 20px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    float: left;
    shape-outside: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    shape-margin: 10px;
    padding-left: 10px;
  }
  ul li{
    list-style-type: none;
    padding-bottom: 10px;
  }