*{
    margin: 0;
    /* background-color: rgb(30, 30, 69); */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white !important;
    box-sizing: border-box;
    }
    body{
            background:  rgb(1, 1, 31);  no-repeat center fixed;
            background-size: cover;
    }
    .main{
        padding: 10rem 0.6rem;
        display: flex;
        width  :100vw;
        height: 40vh;
        position: relative;
        flex-direction: row;
    }
    .fpga{
display: flex;
flex-direction: row;
position: absolute;
top: 20%;
left: 5%;
padding-bottom: 2rem;
padding-right: 2rem;
padding-top: 2rem;
background-color: rgba(109, 109, 112, 0.5);
    box-shadow: 10px 10px 25px #bebebe, -10px -10px 25px #ffffff;
    border-radius: 2.5rem;
    }
    .application{
        display: flex;
flex-direction: row;
position: absolute;
top: 100%;
right: 5%;
background-color: rgba(109, 109, 112, 0.5);
    box-shadow: 10px 10px 25px #bebebe, -10px -10px 25px #ffffff;;
    border-radius: 2.5rem;
padding-bottom: 2rem;
padding-right: 2rem;
padding-top: 2rem;
    }
    .title{
        /* padding: 1.6rem 2rem; */
        color: white !important;
        font-weight: 700px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        left: 0%;
    }
    .period{
        padding: 1.6rem 2rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        position: absolute;
        right: 0%;
        top: 5%;
    }
    ul{
        list-style-type: none;
    }
    li:before{
            content:url(./assets/icons/briefcase.svg);
            color: white;
            padding-right: 0.5rem;
            justify-content: baseline;
    }